In [1]:
from data_extraction import *
from data_cleaning import *
from database_utils import *

In [2]:
database_connector = DatabaseConnector_postgres()
existing_tables = database_connector.list_db_tables()
print(existing_tables)
data_extractor = DataExtractor()
table_data = data_extractor.read_rds_tables_postgress(database_connector).iloc[:,1:]

reading credentials...
connecting to the database....
reading existing tables....
              tablename
0  legacy_store_details
1          legacy_users
2          orders_table
reading credentials...
connecting to the database....

/Users/ndjogo/Documents/GitHub/Multinational-Retail-Data-Centralisation/database_utils.py:115: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  existing_tables = pd.read_sql(query, connection)
/Users/ndjogo/Documents/GitHub/Multinational-Retail-Data-Centralisation/data_extraction.py:68: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  table_data = pd.read_sql(query, connection)

In [3]:
table_data['card_number'].nunique()

15284

In [4]:
table_data.head()

,index,date_uuid,first_name,last_name,user_uuid,card_number,store_code,product_code,1,product_quantity
0,0,9476f17e-5d6a-4117-874d-9cdb38ca1fa6,None,None,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8,30060773296197,BL-8387506C,R7-3126933h,None,3
1,1,0423a395-a04d-4e4a-bd0f-d237cbd5a295,None,None,8fe96c3a-d62d-4eb5-b313-cf12d9126a49,349624180933183,WEB-1388012W,C2-7287916l,None,2
2,2,65187294-bb16-4519-adc0-787bbe423970,None,None,fc461df4-b919-48b2-909e-55c95a03fe6b,3529023891650490,CH-01D85C8D,S7-1175877v,None,2
3,3,579e21f7-13cb-436b-83ad-33687a4eb337,None,None,6104719f-ef14-4b09-bf04-fb0c4620acb0,213142929492281,CL-C183BE4B,D8-8421505n,None,2
4,4,00ab86c3-2039-4674-b9c1-adbcbbf525bd,None,None,9523a6d3-b2dd-4670-a51a-36aebc89f579,502067329974,SO-B5B9CB3B,B6-2596063a,None,2

In [5]:
table_data = DataCleaning.clean_orders_data(table_data)

In [6]:
table_data.head()

,date_uuid,user_uuid,card_number,store_code,product_code,product_quantity
0,9476f17e-5d6a-4117-874d-9cdb38ca1fa6,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8,30060773296197,BL-8387506C,R7-3126933h,3
1,0423a395-a04d-4e4a-bd0f-d237cbd5a295,8fe96c3a-d62d-4eb5-b313-cf12d9126a49,349624180933183,WEB-1388012W,C2-7287916l,2
2,65187294-bb16-4519-adc0-787bbe423970,fc461df4-b919-48b2-909e-55c95a03fe6b,3529023891650490,CH-01D85C8D,S7-1175877v,2
3,579e21f7-13cb-436b-83ad-33687a4eb337,6104719f-ef14-4b09-bf04-fb0c4620acb0,213142929492281,CL-C183BE4B,D8-8421505n,2
4,00ab86c3-2039-4674-b9c1-adbcbbf525bd,9523a6d3-b2dd-4670-a51a-36aebc89f579,502067329974,SO-B5B9CB3B,B6-2596063a,2

In [7]:
database_connector = DatabaseConnector()
database_connector.list_db_tables()

reading credentials...
connecting to the database....
reading existing tables....
('dim_card_details',)
('dim_date_times',)
('dim_products',)
('dim_store_details',)
('dim_users',)

In [8]:
# CREATE TABLE IF NOT EXISTS orders_table
# (date_uuid VARCHAR(225),
#  user_uuid VARCHAR(225),
#  card_number INT,
# store_code VARCHAR(225),
# product_code VARCHAR(225),
# product_quantity INT)

In [9]:
database_connector.upload_to_db_2(table_data, 'orders_table')

reading credentials...
connecting to the database....
CREATE TABLE IF NOT EXISTS orders_table(date_uuid VARCHAR(225),user_uuid VARCHAR(225),card_number VARCHAR(225),store_code VARCHAR(225),product_code VARCHAR(225),product_quantity VARCHAR(225))
reading credentials...